.front2 {
    display: flex;
    justify-content: center;
    background-color: white;
    max-width: 100vw;
    align-items:center;
    font-family: "Poppins", sans-serif;
    gap: 30px;
    padding: 7%;
    box-sizing: border-box;
    flex-direction: row;
    
   
    
  }
  .text{
    margin-left: 20px;
  }
  
  .front2text1{
    font-size: 40px; 
    font-weight: 600 ;
    
  }
  
  
  .front2text2{
    font-size: 22px;
    font-weight: 400;
  }
  .shape{
    overflow: hidden;
  }
  .shape1 {
    width: 728px;
    height: 400px;
    z-index: 10;
    background-image: url('../../assets/people.png');
    background-size:contain;
    /* background-position: center; */
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
    
  }
  .people {
    z-index: 0;
    opacity: 0.6;
    position: absolute;
    width: 928px;
    height: 509px;
    background-color: #daac00;
    
    
    
  }
  .play {
    position: relative;
    right:8.3rem;
    width: 10%;
  }
  .playbutton {
    position: absolute;
    left:13.5rem;
  }
  
  .ourservice {
    border: 3px solid #ffffff;
    outline: none;
    width: 23%;
    padding: 3%;
    background-color: #fcc302;
    font-family: "Poppins", sans-serif;
    border-radius: 7px;
    font-size: smaller;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  
  .ourservice:hover{
    background: linear-gradient(to right, transparent 50%, #00bfed 50%);
    background-size: 200% 200%;
    background-position: right bottom;
    transition: all .5s ease-out;
    
  }
  .front2box{
    position: absolute; 
    left:53.5rem;
    top:80rem ;
    z-index: 5;
  }